ipykernel
ipywidgets
widgetsnbextension
langchain
langchain-community
langchain-openai
langchain-experimental
langchainhub
pypdf
faiss-cpu
python-dotenv
pydantic
beautifulsoup4
wikipedia
stackapi
pandas
tabulate
arxiv
rich